In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
brand_category = pd.read_csv("brand_category.csv")
brand_category.head(5)

              BRAND BRAND_BELONGS_TO_CATEGORY  RECEIPTS
0  CASEYS GEN STORE          Tobacco Products   2950931
1  CASEYS GEN STORE                    Mature   2859240
2            EQUATE              Hair Removal    893268
3         PALMOLIVE               Bath & Body    542562
4              DAWN               Bath & Body    301844

In [3]:
categories = pd.read_csv("categories.csv")
categories.head(5)

,CATEGORY_ID,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
0,1f7d2fa7-a1d7-4969-aaf4-1244f232c175,Red Pasta Sauce,Pasta Sauce
1,3e48a9b3-1ab2-4f2d-867d-4a30828afeab,Alfredo & White Pasta Sauce,Pasta Sauce
2,09f3decc-aa93-460d-936c-0ddf06b055a3,Cooking & Baking,Pantry
3,12a89b18-4c01-4048-94b2-0705e0a45f6b,Packaged Seafood,Pantry
4,2caa015a-ca32-4456-a086-621446238783,Feminine Hygeine,Health & Wellness

In [4]:
offer_retailer = pd.read_csv("offer_retailer.csv")
offer_retailer.head(5)

,OFFER,RETAILER,BRAND
0,Spend $50 on a Full-Priced new Club Membership,SAMS CLUB,SAMS CLUB
1,"Beyond Meat® Plant-Based products, spend $25",NaN,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,NaN,GOOD HUMOR
3,"Butterball, select varieties, spend $10 at Dil...",DILLONS FOOD STORE,BUTTERBALL
4,"GATORADE® Fast Twitch®, 12-ounce 12 pack, at A...",AMAZON,GATORADE

In [5]:
print('Brand Catogery Data\n',brand_category.isnull().sum())
print('-'*30)
print('categories data\n',categories.isnull().sum())
print('-'*30)
print('offer retailer data\n',offer_retailer.isnull().sum())

Brand Catogery Data
 BRAND                        1
BRAND_BELONGS_TO_CATEGORY    0
RECEIPTS                     0
dtype: int64
------------------------------
categories data
 CATEGORY_ID             0
PRODUCT_CATEGORY        0
IS_CHILD_CATEGORY_TO    0
dtype: int64
------------------------------
offer retailer data
 OFFER         0
RETAILER    146
BRAND         0
dtype: int64

In [6]:
print(len(brand_category))
print(len(categories))
print(len(offer_retailer))

9906
118
384

In [7]:
df = offer_retailer[offer_retailer.isnull().any(axis=1)]
df.head(15)

,OFFER,RETAILER,BRAND
1,"Beyond Meat® Plant-Based products, spend $25",NaN,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,NaN,GOOD HUMOR
5,Emmy's Organics® Cookies OR Brownie Snaps,NaN,EMMYS POP UP
8,Barilla® Pesto Sauce,NaN,BARILLA
9,"Any General Mills™ products, buy 2\nGood Rewar...",NaN,ANNIES HOMEGROWN GROCERY
13,"DOVE® Chocolate, select sizes, buy 1",NaN,DOVE CHOCOLATE
14,Hellmann's® OR Best Foods® Garlic Aioli OR Spi...,NaN,HELLMANNS BEST FOODS
15,"M&M'S®, select sizes, buy 1",NaN,M&MS
16,GATORLYTE® OR GATORADE™ Fit Single Serve Bottl...,NaN,GATORADE
18,Red Gold Tomato Ketchup,NaN,RED GOLD
19,Gillette Venus ® for Pubic Hair & Skin spend $20,NaN,GILLETTE VENUS
22,Simply Spiked™ Lemonade 12 pack+,NaN,SIMPLY SPIKED
33,"Tru-Ray® Premium Construction Paper, spend $10",NaN,TRURAY
37,"CESAR® Wet Dog Food, spend $20",NaN,CESAR
38,"TWIX®, select sizes",NaN,TWIX

In [8]:
df['RETAILER'] = df['OFFER'].str.extract(r'(.+?)®')

In [9]:
df.isnull().sum()

OFFER        0
RETAILER    40
BRAND        0
dtype: int64

In [10]:
df['RETAILER'].fillna(df['BRAND'], inplace=True)

In [11]:
df.isnull().sum()

OFFER       0
RETAILER    0
BRAND       0
dtype: int64

In [12]:
df['RETAILER'] = df['RETAILER'].str.replace("'", "")

In [13]:
df.head(15)

,OFFER,RETAILER,BRAND
1,"Beyond Meat® Plant-Based products, spend $25",Beyond Meat,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,GOOD HUMOR,GOOD HUMOR
5,Emmy's Organics® Cookies OR Brownie Snaps,Emmys Organics,EMMYS POP UP
8,Barilla® Pesto Sauce,Barilla,BARILLA
9,"Any General Mills™ products, buy 2\nGood Rewar...",ANNIES HOMEGROWN GROCERY,ANNIES HOMEGROWN GROCERY
13,"DOVE® Chocolate, select sizes, buy 1",DOVE,DOVE CHOCOLATE
14,Hellmann's® OR Best Foods® Garlic Aioli OR Spi...,Hellmanns,HELLMANNS BEST FOODS
15,"M&M'S®, select sizes, buy 1",M&MS,M&MS
16,GATORLYTE® OR GATORADE™ Fit Single Serve Bottl...,GATORLYTE,GATORADE
18,Red Gold Tomato Ketchup,RED GOLD,RED GOLD
19,Gillette Venus ® for Pubic Hair & Skin spend $20,Gillette Venus,GILLETTE VENUS
22,Simply Spiked™ Lemonade 12 pack+,SIMPLY SPIKED,SIMPLY SPIKED
33,"Tru-Ray® Premium Construction Paper, spend $10",Tru-Ray,TRURAY
37,"CESAR® Wet Dog Food, spend $20",CESAR,CESAR
38,"TWIX®, select sizes",TWIX,TWIX

In [14]:
brand_category.dropna(inplace=True)
brand_category.isnull().sum()

BRAND                        0
BRAND_BELONGS_TO_CATEGORY    0
RECEIPTS                     0
dtype: int64

In [15]:
offer_retailer.update(df)
offer_retailer.head()

,OFFER,RETAILER,BRAND
0,Spend $50 on a Full-Priced new Club Membership,SAMS CLUB,SAMS CLUB
1,"Beyond Meat® Plant-Based products, spend $25",Beyond Meat,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,GOOD HUMOR,GOOD HUMOR
3,"Butterball, select varieties, spend $10 at Dil...",DILLONS FOOD STORE,BUTTERBALL
4,"GATORADE® Fast Twitch®, 12-ounce 12 pack, at A...",AMAZON,GATORADE

In [16]:
offer_retailer.isnull().sum()

OFFER       0
RETAILER    0
BRAND       0
dtype: int64

In [17]:
cat = categories[['PRODUCT_CATEGORY','IS_CHILD_CATEGORY_TO']]
cat.head()

              PRODUCT_CATEGORY IS_CHILD_CATEGORY_TO
0              Red Pasta Sauce          Pasta Sauce
1  Alfredo & White Pasta Sauce          Pasta Sauce
2             Cooking & Baking               Pantry
3             Packaged Seafood               Pantry
4             Feminine Hygeine    Health & Wellness

In [18]:
print(brand_category.head(5))
print('-'*100)
print(cat.head(5))
print('-'*100)
print(offer_retailer.head(5))

              BRAND BRAND_BELONGS_TO_CATEGORY  RECEIPTS
0  CASEYS GEN STORE          Tobacco Products   2950931
1  CASEYS GEN STORE                    Mature   2859240
2            EQUATE              Hair Removal    893268
3         PALMOLIVE               Bath & Body    542562
4              DAWN               Bath & Body    301844
----------------------------------------------------------------------------------------------------
              PRODUCT_CATEGORY IS_CHILD_CATEGORY_TO
0              Red Pasta Sauce          Pasta Sauce
1  Alfredo & White Pasta Sauce          Pasta Sauce
2             Cooking & Baking               Pantry
3             Packaged Seafood               Pantry
4             Feminine Hygeine    Health & Wellness
----------------------------------------------------------------------------------------------------
                                               OFFER            RETAILER  \
0     Spend $50 on a Full-Priced new Club Membership           SAMS CLUB
1       Beyond Meat® Plant-Based products, spend $25         Beyond Meat
2           Good Humor Viennetta Frozen Vanilla Cake          GOOD HUMOR
3  Butterball, select varieties, spend $10 at Dil...  DILLONS FOOD STORE
4  GATORADE® Fast Twitch®, 12-ounce 12 pack, at A...              AMAZON

         BRAND
0    SAMS CLUB
1  BEYOND MEAT
2   GOOD HUMOR
3   BUTTERBALL
4     GATORADE

In [19]:
common_values_count = brand_category['BRAND_BELONGS_TO_CATEGORY'].isin(cat['PRODUCT_CATEGORY']).sum()
print(f'The number of common values  is: {common_values_count}')

The number of common values  is: 9905

In [20]:
print(len(brand_category['BRAND_BELONGS_TO_CATEGORY']))
print(len(cat['IS_CHILD_CATEGORY_TO']))

9905
118

In [21]:
# Merge the datasets based on the common column
merged_df = brand_category.merge(cat, 
                                 how='inner',  # Use 'inner' to merge only common values
                                 left_on='BRAND_BELONGS_TO_CATEGORY',  # Column from brand_category
                                 right_on='PRODUCT_CATEGORY')  # Column from cat

merged_df.head()

,BRAND,BRAND_BELONGS_TO_CATEGORY,RECEIPTS,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
0,CASEYS GEN STORE,Tobacco Products,2950931,Tobacco Products,Mature
1,RJ REYNOLDS VAPOR,Tobacco Products,21,Tobacco Products,Mature
2,CASEYS GEN STORE,Mature,2859240,Mature,Mature
3,EQUATE,Hair Removal,893268,Hair Removal,Health & Wellness
4,BARBASOL,Hair Removal,283926,Hair Removal,Health & Wellness

In [22]:
merged_df.isnull().sum()

BRAND                        0
BRAND_BELONGS_TO_CATEGORY    0
RECEIPTS                     0
PRODUCT_CATEGORY             0
IS_CHILD_CATEGORY_TO         0
dtype: int64

In [23]:
print(merged_df.head())
print('-'*100)
print(offer_retailer.head())

               BRAND BRAND_BELONGS_TO_CATEGORY  RECEIPTS  PRODUCT_CATEGORY  \
0   CASEYS GEN STORE          Tobacco Products   2950931  Tobacco Products
1  RJ REYNOLDS VAPOR          Tobacco Products        21  Tobacco Products
2   CASEYS GEN STORE                    Mature   2859240            Mature
3             EQUATE              Hair Removal    893268      Hair Removal
4           BARBASOL              Hair Removal    283926      Hair Removal

  IS_CHILD_CATEGORY_TO
0               Mature
1               Mature
2               Mature
3    Health & Wellness
4    Health & Wellness
----------------------------------------------------------------------------------------------------
                                               OFFER            RETAILER  \
0     Spend $50 on a Full-Priced new Club Membership           SAMS CLUB
1       Beyond Meat® Plant-Based products, spend $25         Beyond Meat
2           Good Humor Viennetta Frozen Vanilla Cake          GOOD HUMOR
3  Butterball, select varieties, spend $10 at Dil...  DILLONS FOOD STORE
4  GATORADE® Fast Twitch®, 12-ounce 12 pack, at A...              AMAZON

         BRAND
0    SAMS CLUB
1  BEYOND MEAT
2   GOOD HUMOR
3   BUTTERBALL
4     GATORADE

In [24]:
common_values_count = offer_retailer['BRAND'].isin(merged_df['BRAND']).sum()
print(f'The number of common values is: {common_values_count}')
print('-'*30)
common = merged_df['BRAND'].isin(offer_retailer['BRAND']).sum()
print(f'The number of common values is: {common}')
print('-'*30)
print('len of merged_df',len(merged_df['BRAND']))
print('len of offer',len(offer_retailer['BRAND']))
print('-'*30)
print(merged_df['BRAND'].nunique())
print(offer_retailer['BRAND'].nunique())

The number of common values is: 334
------------------------------
The number of common values is: 306
------------------------------
len of merged_df 9905
len of offer 384
------------------------------
8521
144

In [25]:
data = merged_df.merge(offer_retailer, 
                                 how='inner',  # Use 'inner' to merge only common values
                                 left_on='BRAND',  # Column from brand_category
                                 right_on='BRAND')  # Column from cat
data.head(5)

,BRAND,BRAND_BELONGS_TO_CATEGORY,RECEIPTS,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO,OFFER,RETAILER
0,GILLETTE VENUS,Hair Removal,12805,Hair Removal,Health & Wellness,Gillette Venus ® for Pubic Hair & Skin spend $20,Gillette Venus
1,GILLETTE VENUS,Hair Removal,12805,Hair Removal,Health & Wellness,Gillette Venus ® for Pubic Hair & Skin,Gillette Venus
2,GILLETTE VENUS,Hair Removal,12805,Hair Removal,Health & Wellness,"Gillette Venus ® for Pubic Hair & Skin, spend $20",Gillette Venus
3,BURTS BEES,Hair Removal,90,Hair Removal,Health & Wellness,"Burt's Bees Sensitive Lotions and Creams, sele...",WALMART
4,BURTS BEES,Hair Removal,90,Hair Removal,Health & Wellness,"Burt's Bee's® Facial Wipes, select varieties, ...",WALMART

In [26]:
data = data.drop(['BRAND_BELONGS_TO_CATEGORY','RECEIPTS'],axis=1)
data.head()

,BRAND,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO,OFFER,RETAILER
0,GILLETTE VENUS,Hair Removal,Health & Wellness,Gillette Venus ® for Pubic Hair & Skin spend $20,Gillette Venus
1,GILLETTE VENUS,Hair Removal,Health & Wellness,Gillette Venus ® for Pubic Hair & Skin,Gillette Venus
2,GILLETTE VENUS,Hair Removal,Health & Wellness,"Gillette Venus ® for Pubic Hair & Skin, spend $20",Gillette Venus
3,BURTS BEES,Hair Removal,Health & Wellness,"Burt's Bees Sensitive Lotions and Creams, sele...",WALMART
4,BURTS BEES,Hair Removal,Health & Wellness,"Burt's Bee's® Facial Wipes, select varieties, ...",WALMART

In [27]:
data.isnull().sum()

BRAND                   0
PRODUCT_CATEGORY        0
IS_CHILD_CATEGORY_TO    0
OFFER                   0
RETAILER                0
dtype: int64

In [28]:
import re

# Function to clean text
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    # Remove special characters except ® and '
    #text = re.sub(r"[^a-z0-9%$]", ' ', text)
    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text


cleaned_data = data.applymap(clean_text)

cleaned_data.head()

,BRAND,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO,OFFER,RETAILER
0,gillette venus,hair removal,health & wellness,gillette venus ® for pubic hair & skin spend $20,gillette venus
1,gillette venus,hair removal,health & wellness,gillette venus ® for pubic hair & skin,gillette venus
2,gillette venus,hair removal,health & wellness,"gillette venus ® for pubic hair & skin, spend $20",gillette venus
3,burts bees,hair removal,health & wellness,"burt's bees sensitive lotions and creams, sele...",walmart
4,burts bees,hair removal,health & wellness,"burt's bee's® facial wipes, select varieties, ...",walmart

In [29]:
cleaned_data.to_csv('data.csv',index=False)

In [30]:
cleaned_data.columns

Index(['BRAND', 'PRODUCT_CATEGORY', 'IS_CHILD_CATEGORY_TO', 'OFFER',
       'RETAILER'],
      dtype='object')

In [31]:
cleaned_data['OFFER'].head()

0     gillette venus ® for pubic hair & skin spend $20
1               gillette venus ® for pubic hair & skin
2    gillette venus ® for pubic hair & skin, spend $20
3    burt's bees sensitive lotions and creams, sele...
4    burt's bee's® facial wipes, select varieties, ...
Name: OFFER, dtype: object

In [32]:
len(cleaned_data)

776